<h2 class="title">Painel de Tarefas</h2>

@if (loading) {
  <div>Carregando...</div>
}

<div class="container">
  <button (click)="newTask()">➕ Nova Tarefa</button>
  <div class="board" *ngIf="!loading">
    <!-- To Do -->
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="column"
      (cdkDropListDropped)="drop($event, 1)"
      [cdkDropListConnectedTo]="['doingList', 'doneList']"
      id="todoList"
    >
      <h3>To Do</h3>
      @for (task of todo; track task.id) {
        <div class="card card-todo" cdkDrag>
          <strong>{{ task.title }}</strong>
          <p>{{ task.description }}</p>
          <div class="button-group">
            <button (click)="editTask(task.id)">Editar</button>
            <button (click)="deleteTask(task.id)">Excluir</button>
          </div>
        </div>
      }
    </div>
  
    <!-- Doing -->
    <div
      cdkDropList
      [cdkDropListData]="doing"
      class="column"
      (cdkDropListDropped)="drop($event, 2)"
      [cdkDropListConnectedTo]="['todoList', 'doneList']"
      id="doingList"
    >
      <h3>Doing</h3>
      @for (task of doing; track task.id) {
        <div class="card card-doing" cdkDrag>
          <strong>{{ task.title }}</strong>
          <p>{{ task.description }}</p>
          <div class="button-group">
            <button (click)="editTask(task.id)">Editar</button>
            <button (click)="deleteTask(task.id)">Excluir</button>
          </div>
        </div>
      }
    </div>
  
    <!-- Done -->
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="column"
      (cdkDropListDropped)="drop($event, 3)"
      [cdkDropListConnectedTo]="['todoList', 'doingList']"
      id="doneList"
    >
      <h3>Done</h3>
      @for (task of done; track task.id) {
        <div class="card card-done" cdkDrag>
          <strong>{{ task.title }}</strong>
          <p>{{ task.description }}</p>
          <div class="button-group">
            <button (click)="editTask(task.id)">Editar</button>
            <button (click)="deleteTask(task.id)">Excluir</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>

