<h2 class="title">Kanban de Tarefas</h2>

<div *ngIf="loading">Carregando...</div>

<div class="container">
  <button (click)="newTask()">➕ Nova Tarefa</button>
  <div class="board" *ngIf="!loading">
    <!-- To Do -->
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="column"
      (cdkDropListDropped)="drop($event, 1)"
      [cdkDropListConnectedTo]="['doingList', 'doneList']"
      id="todoList"
    >
      <h3>To Do</h3>
      <div class="card card-todo" *ngFor="let task of todo" cdkDrag>
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
        <div class="button-group">
          <button (click)="editTask(task.id)">✏️ Editar</button>
          <button (click)="deleteTask(task.id)">🗑️ Excluir</button>
        </div>
      </div>
    </div>
  
    <!-- Doing -->
    <div
      cdkDropList
      [cdkDropListData]="doing"
      class="column"
      (cdkDropListDropped)="drop($event, 2)"
      [cdkDropListConnectedTo]="['todoList', 'doneList']"
      id="doingList"
    >
      <h3>Doing</h3>
      <div class="card card-doing" *ngFor="let task of doing" cdkDrag>
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
        <div class="button-group">
          <button (click)="editTask(task.id)">✏️ Editar</button>
          <button (click)="deleteTask(task.id)">🗑️ Excluir</button>
        </div>
      </div>
    </div>
  
    <!-- Done -->
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="column"
      (cdkDropListDropped)="drop($event, 3)"
      [cdkDropListConnectedTo]="['todoList', 'doingList']"
      id="doneList"
    >
      <h3>Done</h3>
      <div class="card card-done" *ngFor="let task of done" cdkDrag>
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
        <div class="button-group">
          <button (click)="editTask(task.id)">✏️ Editar</button>
          <button (click)="deleteTask(task.id)">🗑️ Excluir</button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

