<div class="container">
  <h1 class="title">{{ editing ? 'Editar Tarefa' : 'Nova Tarefa' }}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Título</label>
      <input type="text" formControlName="title">
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <textarea formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label>Status</label>
      <select formControlName="status">
        <option value="todo">A Fazer</option>
        <option value="doing">Em Progresso</option>
        <option value="done">Concluída</option>
      </select>
    </div>
    <div class="form-group">
      <label>Categoria</label>
      <select formControlName="category_id">
        <option value="infra">Infraestrutura</option>
        <option value="dev">Desenvolvimento</option>
      </select>
    </div>
    <div class="button-group">
      <button type="button" (click)="cancel()">Cancelar</button>
      <button type="submit">{{ editing ? 'Salvar Alterações' : 'Criar Tarefa' }}</button>

    </div>
  </form>
</div>
